*.egg-info/
*.log
*.py[cod]
*.pyd
*.pyo
*.swp
.DS_Store
.cache/
.coverage
.env
.env.*
.git
.gitignore
.idea/
.tox/
.venv/
.vscode/
Dockerfile.dev
Thumbs.db
__pycache__/
build/
dist/
docker-compose.yml
htmlcov/
logs/
supervisord.pid
venv/